<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>

</%block>

<%block name="menu">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
          <li>
              <a href="/back">
                  Назад<span class="sr-only">(current)</span>
              </a>
          </li>
      </ul>
    </div>
</%block>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1>${step_desc['name']}</h1>
            <h3>Описание</h3>
            <div style="margin-left: 3%;">
                ${step_desc['full_description']}
            </div>
            <hr>
            <form action="/events/update" method="post">
                <div class="form-group">
                    <label for="input_goal">Цель</label>
                    <select name="goal" id="input_goal" class="form-control">
                        <option value="" selected>Не указана</option>
                        % for one in goals.keys():
                            % if event.linked_goal_code == goals[one].code:
                            <option value="${one}" selected>${goals[one].goal_name}</option>
                            % else:
                            <option value="${one}">${goals[one].goal_name}</option>
                            % endif
                        % endfor
                    </select>
                </div>
                <div class="form-group">
                    <label for="input_name" class="control-label">Название</label>
                    <input type="text" name="name" id="input_name" class="form-control" value="${event.name}">
                </div>
                <div class="form-group">
                    <label for="input_desc" class="control-label">Описание</label>
                    <textarea rows="5" name="description" id="input_desc"
                              class="form-control">${event.description}</textarea>
                </div>
                <div class="form-group">
                    <label for="start_date" class="control-label">Дата начала</label>
                    <div class='input-group date' id='start_date'>
                        <input type='text' class="form-control" name="start_date" value="${event.start_date.strftime('%d.%m.%Y')}"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <script type="text/javascript">
                            $('#start_date').datepicker({
                                language: "ru",
                                calendarWeeks: true,
                                autoclose: true,
                                todayHighlight: true,
                                todayBtn: "linked",
                                toggleActive: true
                            });
                    </script>
                </div>
                <div class="form-group">
                    <label for="end_date" class="control-label">Дата окончания</label>
                    <div class='input-group date' id='end_date'>
                        <input type='text' class="form-control" name="end_date" value="${event.end_date.strftime('%d.%m.%Y')}"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <script type="text/javascript">
                            $('#end_date').datepicker({
                                language: "ru",
                                calendarWeeks: true,
                                autoclose: true,
                                todayHighlight: true,
                                todayBtn: "linked",
                                toggleActive: true
                            });
                    </script>
                </div>
                <div class="form-group">
                    <label for="input_planres" class="control-label">Плановый результат</label>
                    <textarea rows="5" name="planres" id="input_planres" class="form-control">${event.plan_result}
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="input_responsible" class="control-label">Ответственный за выполнение</label>
                    <select name="responsible" id="input_responsible" class="form-control">
                        % for one in persons.keys():
                            % if one == event.responsible:
                            <option value="${one}" selected>${persons[one]}</option>
                            % else:
                            <option value="${one}">${persons[one]}</option>
                            % endif
                        % endfor
                    </select>
                </div>
                <div class="form-group">
                    <label for="input_actors" class="control-label">Участники</label>
                    <select name="actors" id="input_actors" multiple size="5" class="form-control">
                        % for one in persons.keys():
                            % if str(one) in actors:
                            <option value="${one}" selected>${persons[one]}</option>
                            % else:
                            <option value="${one}">${persons[one]}</option>
                            % endif
                        % endfor
                    </select>
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
                <input type="hidden" name="event_code" value="${event.event_code}">
            </form>
        </div>
    </div>


</div>

