<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>

</%block>

<%block name="menu">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
          <li>
              <a href="/back">
                  Назад<span class="sr-only">(current)</span>
              </a>
          </li>
      </ul>
    </div>
</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1>${step_desc['name']}</h1>
            <h3>Описание</h3>
            <div style="margin-left: 3%;">
                ${step_desc['full_description']}
            </div>
            <hr>
            <form action="/goals/save" method="post">
                <div class="form-group">
                    <label for="goal_name">Название цели</label>
                    <input type="text" name="name" id="goal_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="goal_persp">Перспектива</label>
                    <select name="perspective" id="goal_persp" class="form-control">
                        % for one in perspectives.keys():
                            <option value="${one}">${perspectives[one]}</option>
                        % endfor
                    </select>
                </div>

                <!--
                <div class="form-group">
                    <label for="linked">Связать с целями</label>
                    <select  id="linked" class="form-control" multiple size="${len(cur_map_goals.keys())}">
                        % for one in cur_map_goals.keys():
                            <option value="">${cur_map_goals[one].goal_name}</option>
                        % endfor
                    </select>
                </div>
                -->

                <div class="form-group">
                    <label>Связать с целями</label>
                    <div style="margin-left: 2%;">
                    % for p in range(0, len(group_goals)):
                        % if group_goals[p]:
                            <i>${perspectives.get(p)}</i>
                            <div style="margin-left: 2%;">
                            % for one in group_goals[p]:
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="${one}" name="linked">
                                        ${cur_map_goals[one].goal_name}
                                    </label>
                                </div>
                            % endfor
                        %endif
                    % endfor
                    </div>
                </div>

                <div class="form-group">
                    <label for="goal_desc" class="control-label">Описание</label>
                    <textarea rows="5" name="description" id="goal_desc" class="form-control"></textarea>
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
            </form>
            <hr>
            <a class="btn btn-default" href="/back" role="button">Вернуться</a>
        </div>
    </div>


</div>

