<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/formula.js" charset="UTF-8"></script>
</%block>

<%block name="menu">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
          <li>
              <a href="/kpi/editstage2?code=${kpi.code}">
                  Целевые значения
              </a>
          </li>
          <li>
              <a href="/kpi/copy?code=${kpi.code}">
                  Создать копию показателя
              </a>
          </li>
          <li class="separator divider">
              <hr>
          </li>
          <li>
              <a href="/back">
                  Назад<span class="sr-only">(current)</span>
              </a>
          </li>
      </ul>
    </div>
</%block>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>${step_desc['name']}</h1>
            <h3>${kpi.name}</h3>
            <hr>
            <form action="/kpi/update" method="post">
                <input type="hidden" name="code" value="${kpi.code}">
                <div class="form-group">
                    <label for="kpi_linked_goal">Для цели*</label>
                    <select name="kpi_linked_goal" id="kpi_linked_goal" class="form-control">
                        % if not goal:
                        <option value="0" selected>Нет цели</option>
                        % for p in range(0, len(group_goals)):
                            % if group_goals[p]:
                            <optgroup label="${perspectives.get(p)}">
                                % for one in group_goals[p]:
                                <option value="${one}">${cur_map_goals[one].goal_name}</option>
                                % endfor
                            </optgroup>
                            % endif
                        % endfor
                        % elif goal.code not in cur_map_goals.keys():
                        <option value="0" selected>Нет цели</option>
                        % for p in range(0, len(group_goals)):
                            % if group_goals[p]:
                            <optgroup label="${perspectives.get(p)}">
                                % for one in group_goals[p]:
                                    % if one == goal.code:
                                    <option selected value="${one}">${cur_map_goals[one].goal_name}</option>
                                    %else:
                                    <option value="${one}">${cur_map_goals[one].goal_name}</option>
                                    % endif
                                % endfor
                            </optgroup>
                            % endif
                        % endfor
                        %else:
                        <option value="0">Нет цели</option>
                        % for p in range(0, len(group_goals)):
                            % if group_goals[p]:
                            <optgroup label="${perspectives.get(p)}">
                                % for one in group_goals[p]:
                                    % if one == goal.code:
                                    <option selected value="${one}">${cur_map_goals[one].goal_name}</option>
                                    %else:
                                    <option value="${one}">${cur_map_goals[one].goal_name}</option>
                                    % endif
                                % endfor
                            </optgroup>
                            % endif
                        % endfor
                        % endif
                    </select>
                </div>
                <div class="form-group">
                    <label for="kpi_name">Название показателя*</label>
                    <input type="text" name="name" id="kpi_name" class="form-control" required value="${kpi.name}">
                </div>
                <div class="form-group">
                    <label for="measures">Единица измерения*</label>
                    <select name="measures" id="measures" class="form-control">
                        % for one in measures.keys():
                            % if one == kpi.measure:
                            <option value="${one}" selected>${measures[int(one)]}</option>
                            % else:
                            <option value="${one}">${measures[int(one)]}</option>
                            % endif
                        % endfor
                    </select>
                </div>
                <div class="form-group">
                    <table border="0" width="80%">
                        <thead>
                        <th colspan="3">Формула расчета <br>
                            <p class="text-muted"><small>Вы можете составить формулу расчета показателя используя другие показатели и арифметические операции.</small></p>
                        </th>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="40%">
                            <p class="text-muted text-center"><small>Выберите показатель из списка ниже и нажмите на стрелку</small></p>
                            </td>
                            <td width="20%">
                            <p class="text-muted text-center"><small>нажмите знак операции</small></p>
                            </td>
                            <td width="20%">
                            <p class="text-muted text-center"><small>введите число и нажмите на стрелку, чтобы добавить в формулу</small></p>
                            </td>
                            <td width="10%">
                            </td>
                        </tr>
                        <tr>
                            <td width="20%">
                                <div class="input-group">
                                    <select id="formula_kpi"  class="form-control">
                                        <option selected value=""></option>
                                        % for p in range(0, len(group_goals)):
                                            % if group_goals[p]:
                                                % for one in group_goals[p]:
                                                <optgroup label="${cur_map_goals[one].goal_name}">
                                                    % if linked_kpi.get(one):
                                                    % for one2 in linked_kpi.get(one):
                                                    % if map_kpi.get(one2):
                                                    <option id="${one2}" value="${one2}">${map_kpi.get(one2).name}</option>
                                                    % endif
                                                    % endfor
                                                    % endif
                                                </optgroup>
                                                % endfor
                                            % endif
                                        % endfor
                                        <optgroup label="Операционные показатели">
                                            % for one in map_opkpi.values():
                                            <option id="${one.code}" value="${one.code}">${one.name}</option>
                                            % endfor
                                        </optgroup>
                                    </select>

                                    <div class="input-group-addon" role="button" id="add_var" onclick="SendOperation(this);">
                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </td>
                            <td width="20%" class="text-center">
                                <button type="button" class="btn btn-default" id="on" value="(" onclick="SendOperation(this);">(</button>
                                <button type="button" class="btn btn-default" id="plus" value="+" onclick="SendOperation(this);">+</button>
                                <button type="button" class="btn btn-default" id="minus" value="-" onclick="SendOperation(this);">-</button>
                                <button type="button" class="btn btn-default" id="mult" value="*" onclick="SendOperation(this);">*</button>
                                <button type="button" class="btn btn-default" id="div" value="/" onclick="SendOperation(this);">/</button>
                                <button type="button" class="btn btn-default" id="off" value=")" onclick="SendOperation(this);">)</button>
                            </td>
                            <td width="20%" class="text-center">
                                <div class="input-group">
                                    <input type="text" id="number" value="" class="form-control">
                                    <div class="input-group-addon" role="button" id="add_number" onclick="SendOperation(this);">
                                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                    </div>
                                </div>
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <br>
                                <input name="formula" id="formula_text" value="${kpi.formula}" class="form-control"
                                       type="hidden"/>
                                <div class="well">
                                    <p id="formula_view">${kpi.formula}</p>
                                </div>
                                <script>
                                    LoadFormula();
                                </script>
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-left" colspan="2">
                                <button type="button" class="btn btn-default"  onclick="Reset();">Очистить все</button>
                            </td>
                            <td class="text-right">
                                <a role="button" class="btn btn-default"  onclick="Backspace();">
                                    Удалить последнюю операцию
                                </a>
                            </td>
                            <td class="text-right">
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="form-group">
                    <label for="data_source" class="control-label">Источник данных*</label>
                     <input type="text" name="data_source" id="data_source" class="form-control" value="${kpi.data_source}">
                </div>
                <div class="form-group">
                    <label for="target_responsible">Ответственный за достижение*</label>
                    <select name="target_responsible" id="target_responsible" class="form-control">
                        % for one in persons.keys():
                            % if one == kpi.target_responsible:
                            <option selected value="${one}">${persons[one]}</option>
                            %else:
                            <option value="${one}">${persons[one]}</option>
                            % endif
                        % endfor
                    </select>
                </div>
                <div class="form-group">
                    <label for="cycles">*Период</label>
                    <select name="cycles" id="cycles" class="form-control">
                        % for one in cycles.keys():
                            % if one == kpi.cycle:
                                <option value="${one}" selected>${cycles[one]}</option>
                            % else:
                                <option value="${one}">${cycles[one]}</option>
                            % endif
                        % endfor
                    </select>
                </div>
                <hr>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Дополнительные свойства</h3>
                  </div>
                  <div class="panel-body ">
                    <div class="form-group">
                        <label for="fact_responsible">Ответственный за ввод данных</label>
                        <select name="fact_responsible" id="fact_responsible" class="form-control">
                            % for one in persons.keys():
                            % if one == kpi.fact_responsible:
                            <option selected value="${one}">${persons[one]}</option>
                            %else:
                            <option value="${one}">${persons[one]}</option>
                            % endif
                            % endfor
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="kpi_scale_type">Тип шкалы</label>
                        <select name="kpi_scale_type" id="kpi_scale_type" class="form-control">
                            % for one in kpi_scale_type.keys():
                                % if one == kpi.kpi_scale_type:
                                <option selected value="${one}">${kpi_scale_type[one]}</option>
                                %else:
                                <option value="${one}">${kpi_scale_type[one]}</option>
                                % endif
                            % endfor
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="kpi_desc" class="control-label">Описание</label>
                        <textarea rows="5" name="description" id="kpi_desc" class="form-control">${kpi.description}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="link_to_desc" class="control-label">Ссылка на описание</label>
                         <input type="text" name="link_to_desc" id="link_to_desc" class="form-control" value="${kpi.link_to_desc}">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>

            </form>
            <hr>
            <a class="btn btn-default" href="/back" role="button">Вернуться</a>
        </div>
    </div>


</div>

