<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/kpi.js" charset="UTF-8"></script>
</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>${step_desc['name']}</h1>
            <h3>Описание</h3>
            <div style="margin-left: 3%;">
                ${step_desc['full_description']}
            </div>
            <hr>
            <h3>Показатель: ${kpi.name}</h3>
            <div style="margin-left: 3%;">
                <p>Цель: ${goal.goal_name}</p>
                <p>Период: ${cycles[kpi.cycle]}</p>
                <p>Отвественный за достижение: ${persons[kpi.target_responsible]}</p>
                <p>Единица измерения: ${measures[kpi.measure]}</p>
            </div>
            <div class="alert alert-success alert-dismissible hidden" role="alert" id="save_alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <hr>
            <input type="hidden" id="kpi_code" value="${kpi.code}">
            % if target_values:
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Отчетный период</th>
                    <th>Дата отчета</th>
                    <th>Значение (${measures[kpi.measure]})</th>
                </tr>
                </thead>
                <tbody>

                % for one in target_values:
                    <tr id="tr_period_${one.period_code}">
                        <td width="10%">${one.period_name} (№${one.period_code} )</td>
                        <td width="10%">${one.date.day}.${one.date.month}.${one.date.year}</td>
                        <td width="10%">
                            <div class="form-group">
                                <input name="target_value" id="period_${one.period_code}" class="form-control"
                                       type="number" value="${one.first_value}" autofocus
                                       onchange="SendTargetValue('period_${one.period_code}');"
                                       onfocus="ChangeColor('period_${one.period_code}');">
                            </div>
                        </td>
                    </tr>
                % endfor

                </tbody>
            </table>
            <hr>
            % else:
            <form action="/kpi/updatestage2" method="post">
                <input type="hidden" name="kpi_code" value="${kpi.code}">
            <div class="form-inline">
            <div class="form-group">
                <label for="plan_period">*Спланировать целевые значения на </label>
                <input type="number" name="plan_period" id="plan_period" class="form-control">
                <select name="cycles" id="cycles" class="form-control">
                    % for one in cycles.keys():
                        % if one == 1:
                            <option value="${one}" selected>${cycles[one]}</option>
                        % else:
                            <option value="${one}">${cycles[one]}</option>
                        % endif
                    % endfor
                </select>
                <label for="plan_period">начиная с</label>
                <div class='input-group date' id='start_date'>
                    <input type='text' class="form-control" name="start_date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script type="text/javascript">
                        $('#start_date').datepicker({
                            language: "ru",
                            calendarWeeks: true,
                            autoclose: true,
                            todayHighlight: true,
                            todayBtn: "linked",
                            startView: 1,
                            minViewMode: 1,
                            toggleActive: true
                        });
                </script>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Сохранить</button>
            </div>
            </div>
            </form>
            <hr>
            % endif

            <a class="btn btn-default" href="${step_desc['next_step']}" role="button">Вернуться</a>
        </div>
    </div>


</div>

