<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/kpi.js" charset="UTF-8"></script>
</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1>${step_desc['name']}</h1>
            <h3>Описание</h3>
            <div style="margin-left: 3%;">
                ${step_desc['full_description']}
            </div>
            <hr>
            <h3>Показатель: ${kpi.name}</h3>
            <div style="margin-left: 3%;">
                <p>Цель: ${goal.goal_name}</p>
                <p>Период: ${cycles[kpi.cycle]}</p>
                <p>Отвественный за достижение: ${persons[kpi.target_responsible]}</p>
                <p>Единица измерения: ${measures[kpi.measure]}</p>
            </div>
            <div class="alert alert-success alert-dismissible hidden" role="alert" id="save_alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <hr>
                <input type="hidden" id="kpi_code" value="${kpi.code}">
                <table class="table table-condensed table-hover">
                    <thead>
                    <tr>
                        <th>Отчетный период</th>
                        <th>Дата отчета</th>
                        <th>Значение (${measures[kpi.measure]})</th>
                    </tr>
                    </thead>
                    <tbody>

                    % for one in target_values:
                        <tr id="tr_period_${one.period_code}">
                            <td width="10%">${one.period_code}</td>
                            <td width="10%">${one.date.day}.${one.date.month}.${one.date.year}</td>
                            <td width="10%">
                                <div class="form-group">
                                    <input name="target_value" id="period_${one.period_code}" class="form-control"
                                           type="number" value="${one.first_value}" autofocus
                                           onchange="SendTargetValue('period_${one.period_code}');"
                                           onfocus="ChangeColor('period_${one.period_code}');">
                                </div>
                            </td>
                        </tr>
                    % endfor

                    </tbody>
                </table>
                <hr>
            <a class="btn btn-default" href="${step_desc['next_step']}" role="button">Вернуться</a>
        </div>
    </div>


</div>

