<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>

</%block>

<%block name="menu">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
          <li>
              <a href="/back">
                  Назад<span class="sr-only">(current)</span>
              </a>
          </li>
      </ul>
    </div>
</%block>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1>${step_desc['name']}</h1>
            <h3>Описание</h3>
            <div style="margin-left: 3%;">
                ${step_desc['full_description']}
            </div>
            <hr>
            <!--
            <form action="/kpi/save" method="post">
                <div class="form-group">
                    <label for="kpi_linked_goal">Для цели*</label>
                    <p class="text-muted"><small>чтобы создать операционный показатель, оставьте поле пустым</small></p>
                    <select name="kpi_linked_goal" id="kpi_linked_goal" class="form-control" required>
                        <option value="0" selected> </option>
                        % for one in cur_map_goals.keys():
                        <option value="${one}">${cur_map_goals[one].goal_name}</option>
                        % endfor
                    </select>
                </div>
                -->

                <div class="form-group">
                    <label for="kpi_linked_goal">Для цели*</label>
                    <p class="text-muted"><small>чтобы создать операционный показатель, оставьте поле пустым</small></p>
                    <select name="kpi_linked_goal" id="kpi_linked_goal" class="form-control" required>
                        <option value="0" selected> </option>
                    % for p in range(0, len(group_goals)):
                        % if group_goals[p]:
                        <optgroup label="${perspectives.get(p)}">
                            % for one in group_goals[p]:
                            <option value="${one}">${cur_map_goals[one].goal_name}</option>
                            % endfor
                        </optgroup>
                        % endif
                    % endfor
                    </select>

                </div>

                <div class="form-group">
                    <label for="kpi_name">Название показателя*</label>
                    <input type="text" name="name" id="kpi_name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="measures">Единица измерения*</label>
                    <select name="measures" id="measures" class="form-control">
                        % for one in measures.keys():
                            <option value="${one}">${measures[one]}</option>
                        % endfor
                    </select>
                </div>
                <div class="form-group">
                    <label for="formula" class="control-label">Формула расчета</label>
                    <textarea rows="3" name="formula" id="formula" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="data_source" class="control-label">Источник данных*</label>
                     <input type="text" name="data_source" id="data_source" class="form-control">
                </div>
                <div class="form-group">
                    <label for="target_responsible">Ответственный за достижение*</label>
                    <select name="target_responsible" id="target_responsible" class="form-control">
                        % for one in persons.keys():
                            <option value="${one}">${persons[one]}</option>
                        % endfor
                    </select>
                </div>
                <div class="form-inline">
                <div class="form-group">
                    <label for="plan_period">*Спланировать целевые значения на </label>
                     <input type="number" name="plan_period" id="plan_period" class="form-control"
                            value="${current_map.cycle_count}">
                        <select name="cycles" id="cycles" class="form-control">
                            % for one in cycles.keys():
                                % if one == current_map.cycle:
                                    <option value="${one}" selected>${cycles[one]}</option>
                                % else:
                                    <option value="${one}">${cycles[one]}</option>
                                % endif
                            % endfor
                        </select>
                    <label for="plan_period">начиная с</label>
                    <div class='input-group date' id='start_date'>
                        <input type='text' class="form-control" name="start_date"
                               % if current_map.start_date:
                                value="${current_map.start_date.strftime('%d.%m.%Y')}"/>
                               % else:
                                />
                               % endif
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <script type="text/javascript">
                            $('#start_date').datepicker({
                                language: "ru",
                                calendarWeeks: true,
                                autoclose: true,
                                todayHighlight: true,
                                todayBtn: "linked",
                                startView: 1,
                                minViewMode: 1,
                                toggleActive: true
                            });
                    </script>
                </div>
                </div>
                <hr>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Дополнительные свойства</h3>
                  </div>
                  <div class="panel-body ">
                    <div class="form-group">
                        <label for="fact_responsible">Ответственный за ввод данных</label>
                        <select name="fact_responsible" id="fact_responsible" class="form-control">
                            % for one in persons.keys():
                                <option value="${one}">${persons[one]}</option>
                            % endfor
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="kpi_scale_type">Тип шкалы</label>
                        <select name="kpi_scale_type" id="kpi_scale_type" class="form-control">
                            % for one in kpi_scale_type.keys():
                                <option value="${one}">${kpi_scale_type[one]}</option>
                            % endfor
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="kpi_desc" class="control-label">Описание</label>
                        <textarea rows="5" name="description" id="kpi_desc" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="link_to_desc" class="control-label">Ссылка на описание</label>
                         <input type="text" name="link_to_desc" id="link_to_desc" class="form-control">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
            </form>
        </div>
    </div>


</div>

