<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/kpi.js" charset="UTF-8"></script>
</%block>

<%block name="menu">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
          <li>
              <a href="/kpi/edit?code=${kpi.code}">
                  Свойства показателя
              </a>
          </li>
          <li class="separator divider">
              <hr>
          </li>
          <li>
              <a href="/back">
                  Назад<span class="sr-only">(current)</span>
              </a>
          </li>
      </ul>
    </div>
</%block>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>${step_desc['name']}</h1>
            <h3>Описание</h3>
            <div style="margin-left: 3%;">
                ${step_desc['full_description']}
            </div>
            <hr>
            <h3>Показатель: ${kpi.name}</h3>
            <div style="margin-left: 3%;">
                <p>Цель:
                    % if goal:
                    ${goal.goal_name}
                    % else:
                    нет цели
                    % endif
                </p>
                <p>Период: ${cycles[kpi.cycle]}</p>
                <p>Отвественный за достижение: ${persons[kpi.target_responsible]}</p>
                <p>Единица измерения: ${measures.get(int(kpi.measure))}</p>
            </div>
            <div class="alert alert-success alert-dismissible hidden" role="alert" id="save_alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <input type="hidden" id="kpi_code" value="${kpi.code}">
            % if target_values:
            <a role="button" class="text-success" data-toggle="collapse" href="#collapsePeriod"
               aria-expanded="false" aria-controls="collapsePeriod">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
            <div class="collapse" id="collapsePeriod">
                <form action="/kpi/updatestage2_one" method="post">
                    <input type="hidden" name="kpi_code" value="${kpi.code}">
                    <div class="form-inline">
                    <div class="form-group">
                    <input type="hidden" name="plan_period" class="form-control"
                        value="1">
                    <input name="cycles" type="hidden" value="1">
                    <label>Добавить отчетный период для</label>
                    <div class='input-group date'>
                        <input type='text' class="form-control" name="start_date" id="start_date1"
                        % if current_map.start_date:
                            value="${current_map.start_date.strftime('%d.%m.%Y')}"
                        % else:
                               value=""
                        % endif
                        />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <script type="text/javascript">
                            $('#start_date1').datepicker({
                                format: "mm.yyyy",
                                language: "ru",
                                calendarWeeks: true,
                                autoclose: true,
                                todayHighlight: true,
                                todayBtn: "linked",
                                startView: 1,
                                minViewMode: 1,
                                toggleActive: true
                            });
                    </script>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-link">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    </button>
                </div>
                </div>
                </form>
                <br>
                <form action="/kpi/updatestage2" method="post">
                    <input type="hidden" name="kpi_code" value="${kpi.code}">
                    <div class="form-inline">
                    <div class="form-group">
                    <label for="plan_period">Добавить отчетные периоды для</label>
                    <input type="number" name="plan_period" id="plan_period" class="form-control"
                        value="${current_map.cycle_count}">
                    </div>
                    <select name="cycles" id="cycles" class="form-control">
                        % for one in cycles.keys():
                            % if one == current_map.cycle:
                                <option value="${one}" selected>${cycles[one]}</option>
                            % else:
                                <option value="${one}">${cycles[one]}</option>
                            % endif
                        % endfor
                    </select>
                    <div class="form-group">
                    <label for="plan_period">начиная с</label>
                    <div class='input-group date' id='start_date'>
                        <input type='text' class="form-control" name="start_date"
                        % if current_map.start_date:
                            value="${current_map.start_date.strftime('%d.%m.%Y')}"
                        % else:
                               value=""
                        % endif
                        />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <script type="text/javascript">
                            $('#start_date').datepicker({
                                language: "ru",
                                calendarWeeks: true,
                                autoclose: true,
                                todayHighlight: true,
                                todayBtn: "linked",
                                startView: 1,
                                minViewMode: 1,
                                toggleActive: true
                            });
                    </script>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-link">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    </button>
                </div>
                </div>
                </form>

            </div>
            <hr>
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Отчетный период</th>
                    <th>Дата отчета</th>
                    <th>Значение (${measures.get(int(kpi.measure))})</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                % for one in target_values:
                    <tr id="tr_period_${one.period_code}">
                        <td width="5%">
                            <a href="/kpi/delete_target?code=${kpi.code}&period_code=${one.period_code}"
                               role="button" class="text-danger">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>
                        <td width="20%">
                            ${one.period_name} (№${one.period_code} )
                        %if one.formula:
                            <small class="text-muted">Показатель рассчитывается автоматически.
                            Вы можете указать значений вручную, но оно будет использоваться
                                только для информирования.
                            </small>
                        % endif
                        </td>
                        <td width="10%">${one.date.strftime('%d.%m.%Y')}</td>
                        <td width="20%">
                            <div class="form-group">
                                <input name="target_value" id="period_${one.period_code}" class="form-control"
                                       type="number" value="${one.first_value}" autofocus
                                       onchange="SendTargetValue('period_${one.period_code}');"
                                       onfocus="ChangeColor('period_${one.period_code}');">
                            </div>
                        %if one.formula:
                            <small class="text-muted">
                                <b>${one.second_value}</b> - значение рассчитаное по формуле
                            </small>
                        % endif

                        </td>
                        <td></td>
                    </tr>
                % endfor

                </tbody>
            </table>
            <hr>
            % else:
            <form action="/kpi/updatestage2" method="post">
                <input type="hidden" name="kpi_code" value="${kpi.code}">
                <div class="form-inline">
                <div class="form-group">
                <label for="plan_period">*Спланировать целевые значения на </label>
                <input type="number" name="plan_period" id="plan_period" class="form-control"
                    value="${current_map.cycle_count}">
                <select name="cycles" id="cycles" class="form-control">
                    % for one in cycles.keys():
                        % if one == current_map.cycle:
                            <option value="${one}" selected>${cycles[one]}</option>
                        % else:
                            <option value="${one}">${cycles[one]}</option>
                        % endif
                    % endfor
                </select>
                <label for="plan_period">начиная с</label>
                <div class='input-group date' id='start_date'>
                    <input type='text' class="form-control" name="start_date"
                    % if current_map.start_date:
                        value="${current_map.start_date.strftime('%d.%m.%Y')}"
                    % else:
                           value=""
                    % endif
                    />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script type="text/javascript">
                        $('#start_date').datepicker({
                            language: "ru",
                            calendarWeeks: true,
                            autoclose: true,
                            todayHighlight: true,
                            todayBtn: "linked",
                            startView: 1,
                            minViewMode: 1,
                            toggleActive: true
                        });
                </script>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Сохранить</button>
            </div>
            </div>
            </form>
            % endif
        </div>
    </div>


</div>

