<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h3>Последние обновления</h3>
            <div style="margin-left: 3%;">
                <p class="lead">28.11.15</p>
                <p>Добавлена графическая визуализаци стратегических карт. Для любой карты можно на поле мышкой расположить цели и
                сохранить их расположение. Цели при наличии связей соединены между собой линиями.</p>
                <p>Посмотреть можно в <a href="/maps">картах</a>, выбрать любую.</p>
            </div>
            <hr>
        </div>
    </div>


</div>

