<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            % if not org_root:
            <h3>Что сделать</h3>
            % endif
            % if not org_root:
            <p>
                Не создана организационная структура компании.
                <a role="button" class="text-muted" href="/wizard/step2">Создайте ее</a>.
            </p>
            <hr>
            % endif

            <h3>Последние обновления</h3>
            <div style="margin-left: 3%;">
                <p class="lead">25.12.15</p>
                <p>Добавлена возможность создавать Мероприятия для целей. См. <a href="/maps/events">тут</a></p>
                <p>Можно произвольно задавать отчетные периоды и целевые значения для показателей.</p>
                <p>Исправлены ошибки при расчете по формулам. Если не хватает значений для вычисления, результат обнуляется.</p>
                <p>Добавлены функции для работы пользователями системы. Раздел <a href="/settings/users">Настройки</a>.</p>
                <hr>
                <p class="lead">06.12.15</p>
                <p>Разрешено создание показателей без привязки к целям. В этом случае он попадет в раздел "Операционные показатели".</p>
                <p>Можно указать формулу для расчета значений показателя на странице редактирования. Сейчас расчет
                    производится в информационных целях и вычесленные цифры видно в "Счетной карте" с пометкой: <b>по формуле.</b></p>
                <p></p>
                <hr>
                <p class="lead">05.12.15</p>
                <p>Добавлен функционал создания, редактирования показателей и целевых значений.</p>
                <p>Добавлена группировка по перспективам при показе стратегической карты.</p>
                <hr>
                <p class="lead">02.12.15</p>
                <p>Изменен цвет и форма фигур при рисовании стратегической карты.</p>
                <p>Списки целей, показателей, мероприятий и метрик перенесены под карту, чтобы избежать наложения.</p>
                <hr>
                <p class="lead">30.11.15</p>
                <p>Добавлена возможность редактировать описание целей и менять их связи.</p>
                <hr>
                <p class="lead">28.11.15</p>
                <p>Добавлена графическая визуализаци стратегических карт. Для любой карты можно на поле мышкой расположить цели и
                сохранить их расположение. Цели при наличии связей соединены между собой линиями.</p>
                <p>Посмотреть можно в <a href="/maps">картах</a>, выбрать любую.</p>
            </div>
            <hr>
        </div>
    </div>


</div>

