<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

<%block name="menu">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="/library">Библиотека<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/maps" >Карты<span class="sr-only">(current)</span></a></li>
        <li><a href="/wizard">Мастер для компании<span class="sr-only">(current)</span></a></li>
        <li><a href="/wizardfordepartment">Мастер для подразделения<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
</%block>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h3>Стратегические карты</h3>
            <div style="margin-left: 3%;">
                % if not org_root:
                <p>
                    Для компании не указана организационная структура. Не могу создавать стратегические карты.

                </p>
                <p>
                    <a role="button" class="text-muted" href="/wizard/step2">Создать орг. структуру</a>
                </p>
                % endif
                % for map in maps:
                 <p>
                     <a class="btn btn-link" href="/maps?code=${map.code}&view=map">${map.name}</a>
                 </p>
                % endfor
            </div>
            <hr>
        </div>
    </div>


</div>

