<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/js/kpi.js" charset="UTF-8"></script>
</%block>

<%block name="menu">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
          <li>
              <a href="/back">
                  Назад
                  <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="separator divider">
              <hr>
          </li>
          <li>
              <a href="/monitoring/indicators?code=${mdesc.code}">
                  Редактировать
                  <span class="sr-only">(current)</span>
              </a>
          </li>

      </ul>
    </div>
</%block>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>${step_desc['name']}</h1>
            <h2>${period[1]}</h2>
        </div>
    </div>
    <div class="row">
        <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            % if mdata:
                % for one in mdata.values():

            <%doc>
            <div class="dropdown">
                <a href="${one.code}"></a>
                <a id="${one.code}" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>

                </a>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li><a href="/monitoring/edit?code=${one.code}">Свойства</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/monitoring/delete?code=${one.code}">Удалить</a></li>
                </ul>
            <a href="/monitoring/show?code=${one.code}">${one.name}</a>
            </div>
            </%doc>
            % endfor

            %for one in mdata.values():
            <%doc>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    <h1  style="color: #${one[4]}">
                        ${one[3]} %<br>
                        <small>${one[0].name}</small>
                    </h1>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <%
                        m = int(one[0].measure)
                    %>
                    %if one[1]:
                    <h1  style="color: #${one[4]}">
                        ${mea_f[m].format(one[1].first_value)}
                        ${mea_s[m]}<br>
                        <small>План</small>
                    </h1>
                    %else:
                    <h1  style="color: #${one[4]}">-</h1>
                    %endif

                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    %if one[2]:
                    <h1  style="color: #${one[4]}">
                        ${mea_f[m].format(one[2][0].fact_value)}
                        ${mea_s[m]}<br>
                        <small>Факт</small>
                    </h1>
                    %else:
                    <h1  style="color: #${one[4]}">-</h1>
                    %endif
                </div>
            </div>
            </%doc>

            <div class="row">
                <%
                    m = int(one[0].measure)
                %>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    %if one[2]:
                    <h1  style="color: #${one[4]}">
                        <small>${one[0].name}</small><br>
                        ${mea_f[m].format(one[2][0].fact_value)}
                        ${mea_s[m]}
                    </h1>
                    %else:
                    <h1  style="color: #${one[4]}">
                        <small>${one[0].name} (${mea_s[m]})</small><br>
                        -
                    </h1>

                    %endif
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                    <a href="/kpi/fact?code=${one[0].code}">
                    <h1  style="color: #${one[4]}">
                        <small>выполнен на</small><br>
                        ${one[3]} %
                    </h1>
                    </a>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                    %if one[1]:
                    <a href="/kpi/editstage2?code=${one[0].code}">
                    <h1  style="color: #${one[4]}">
                        <small>План</small><br>
                        ${mea_f[m].format(one[1].first_value)}
                        ${mea_s[m]}
                    </h1>
                    </a>
                    %else:
                    <a href="/kpi/editstage2?code=${one[0].code}">
                    <h1  style="color: #${one[4]}">
                        <small>План</small><br>-
                    </h1>
                    </a>
                    %endif

                </div>

            </div>
            <div class="row">
                <div><hr></div>
            </div>
            %endfor

            % endif
        </div>
    </div>

</div>

