<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <script src="/static/js/fabric.min.js"></script>
</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <h1>${current_map.name}</h1>
            <a class="btn btn-link" href="/goals/new" role="button">
                <span class="text-muted">Добавить цель</span>
            </a>
            <div style="margin-left: 2%;">
                ${current_map.description}
            </div>

            </div>
        </div>
    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <div><br><br><br></div>
            <canvas id="graph_map" width="800" height="800"></canvas>
            <button class="btn btn-link btn-xs" onclick="sendDrawData(draw_data);">
                <span class="text-muted">Сохранить расположение целей</span>
            </button>
            <a class="btn btn-link btn-xs" onclick="SaveDraw();" href="#" id="download_draw" target="_blank">
                <span class="text-muted">Скачать изображение</span>
            </a>

            <script>
                var financial_map_color = '${colors[0]}';
                var client_map_color = '${colors[1]}';
                var process_map_color = '${colors[2]}';
                var hr_map_color = '${colors[3]}';
                var linked_goals_in_json = '${custom_linked_goals_in_json}';
                var map_code = '${current_map.code}';
                var goals_in_json = {
                % if map_goals:
                 % for code in map_goals.keys():
                    ${code}: {code: '${code}', name: '${map_goals[code].goal_name}', perspective: ${map_goals[code].perspective}},
                 % endfor
                    ${code}: {code: '${code}', name: '${map_goals[code].goal_name}', perspective: ${map_goals[code].perspective}}
                % endif
                };

            % if draw_data:
                var draw_data = JSON.parse('${draw_data}');
            % else:
                var draw_data = {};
            % endif
            </script>
            <script src="/static/js/graphics_for_strategic_map.js"></script>

            </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <h3>Цели</h3>
            <div style="margin-left: 2%;">
            % if map_goals.keys():
                % for one in map_goals.keys():
                    <div class="dropdown">
                        <a id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class=
                        % if map_goals[one].perspective == 0:
                        "text-danger"
                        % elif map_goals[one].perspective == 1:
                        "text-success"
                        % elif map_goals[one].perspective == 2:
                        "text-info"
                        % elif map_goals[one].perspective == 3:
                        "text-warning"
                        %else:
                        "text-default"
                        %endif
                        >
                            ${map_goals[one].goal_name}
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="/goals/edit?code=${map_goals[one].code}">Редактировать</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/goals/delete?code=${map_goals[one].code}">Удалить из карты</a></li>
                          </ul>
                    </div>
                % endfor
            % else:
                <p>Цели не заданы.</p>
            % endif
            </div>
            <hr>
            <h3>Показатели</h3>
            <div style="margin-left: 2%;">
            % if map_kpi.keys():
                % for one in map_kpi.keys():
                    <p>${map_kpi[one].name}</p>
                % endfor
            % else:
                <p>Показатели не заданы.</p>
            % endif
            </div>
            <hr>
            <h3>Мероприятия</h3>
            <div style="margin-left: 2%;">
            % if map_events.keys():
                % for one in map_events.keys():
                    <p>${map_events[one].name}</p>
                % endfor
            % else:
                <p>Мероприятий нет.</p>
            % endif
            </div>
            <hr>
            <h3>Операционные показатели</h3>
            <div style="margin-left: 2%;">
            % if map_metrics.keys():
                % for one in map_metrics.keys():
                    <p>${map_metrics[one].name}</p>
                % endfor
            % else:
                <p>Не заданы.</p>
            % endif
            </div>
        </div>
    </div>


</div>

