<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <script src="/static/js/fabric.min.js"></script>
</%block>


<%block name="menu">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
          <li>
              <a href="/maps/map">
                  Карта<span class="sr-only">(current)</span>
              </a>
          </li>
          <li>
              <a href="/maps/goals">
                  Цели<span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="active">
              <a href="/maps/kpi">
                  Стратегические показатели<span class="sr-only">(current)</span>
              </a>
          </li>
          <li>
              <a href="/maps/events">
                  Мероприятия<span class="sr-only">(current)</span>
              </a>
          </li>
          <li>
              <a href="/maps/opkpi">
                  Операционные показатели<span class="sr-only">(current)</span>
              </a>
          </li>
      </ul>
    </div>
</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
            <!--
            <h1>${current_map.name}</h1>
            <div style="margin-left: 2%;">
                ${current_map.description}
            </div>
            -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div>
                <a class="btn btn-default" href="/goals/new" role="button">
                    <span class="text-muted">Добавить цель</span>
                </a>
                <a class="btn btn-default" href="/kpi/new" role="button">
                    <span class="text-muted">Добавить показатель</span>
                </a>
            </div>
            <br>
            % for p in range(0, len(group_goals)):
                <h3 >${perspectives.get(p)}</h3>
                <div style="margin-left: 2%;">
                % if group_goals[p]:
                % for goal in group_goals[p]:
                    <h4 style="color: ${colors[p]}">${map_goals.get(goal).goal_name}</h4>
                    % if custom_kpi_links.get(goal):
                    <div style="margin-left: 2%;">
                        <table class="table table-hover">
                            <thead>
                            <tr class="text-center">
                                <th></th>
                                <th>Название</th>
                                <th class="text-center">Ответственный</th>
                                <th class="text-center">Единицы</th>
                                <th colspan="3" class="text-center">Целевые значения</th>
                            </tr>
                            </thead>
                            <tbody>
                        % for kpi in custom_kpi_links[goal]:
                                <tr style="color: ${colors[p]}">
                                    <td width="2%">
                                        <div class="dropdown">
                                            <a href="${map_kpi.get(kpi).code}"></a>
                                            <a id="${map_kpi.get(kpi).code}" data-toggle="dropdown" role="button"
                                                   aria-haspopup="true" aria-expanded="false" style="color: ${colors[p]}">
                                                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                                </a>
                                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                                <li><a href="/kpi/edit?code=${kpi}">Свойства</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="/kpi/editstage2?code=${kpi}">Целевые значения</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="/kpi/delete?code=${kpi}">Удалить из карты</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td width="20%" >
                                        ${map_kpi.get(kpi).name}
                                    </td>
                                    <td width="10%" class="text-center">
                                        ${persons[map_kpi.get(kpi).target_responsible]}
                                    </td>
                                    <td width="5%" class="text-center">
                                        ${measures.get(int(map_kpi.get(kpi).measure))}
                                    </td>
                                    % if kpi_target_values.get(kpi):
                                    % for one in kpi_target_values.get(kpi):
                                    <td width="8%" class="text-center">
                                        % if kpi in fval.keys():
                                        <small class="text-muted">
                                            по формуле<br>
                                            %if map_kpi.get(kpi).measure == 1:
                                            ${"{:,}".format(fval[kpi].get(one.period_code)*100)}
                                            % else:
                                            ${"{:,}".format(fval[kpi].get(one.period_code))}
                                            % endif
                                        </small><br>
                                        % endif
                                        ${"{:,}".format(one.first_value)}<br>
                                        <small class="text-muted">${one.period_name}</small>
                                    </td>
                                    % endfor
                                    % endif
                                    <td></td>
                                </tr>
                        % endfor
                            </tbody>
                        </table>
                    </div>
                    % else:
                    <div style="margin-left: 2%;">
                        Нет показателей.
                    </div>
                    % endif
                % endfor
                % endif
                </div>
            % endfor
        </div>
    </div>
</div>

