<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

<%block name="menu">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
          <li class="disabled">
              <a href="/wizardfordepartment">
                  Мастер для подразделения
              </a>
          </li>
          <li class="active">
              <a href="/wizardfordepartment/start?code=${current_map.code}">
                  Шаг 1. Начало
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/step2">
                  Шаг 2. Добавить цели
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/step3">
                  Шаг 3. Добавить цели из библиотеки
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/step4">
                  Шаг 4. Добавить связанные цели
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/step5">
                  Шаг 5. Добавить показатели
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/step6">
                  Шаг 6. Добавить мероприятия
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/step7">
                  Шаг 7. Завершение
              </a>
          </li>
          <li class="separator divider">
              <hr>
          </li>
          <li>
              <a href="/wizardfordepartment/step${step_desc['next_step']}">
                  Следующий шаг
              </a>
          </li>
          <li>
              <a href="/back">
                  Назад
              </a>
          </li>
      </ul>
    </div>
</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
            <h3>Описание</h3>
            <div style="margin-left: 2%;">
                ${step_desc['full_description']}
            </div>
            <hr>
            <h3>Цели</h3>
            <div style="margin-left: 2%;">
            % for p in range(0, len(grouped_goals)):
                <h4 style="color: ${colors[p]}">${perspectives[p]}</h4>
                % if grouped_goals[p]:
                    % for one in grouped_goals[p]:
                    <div style="margin-left: 2%;">
                        <p style="color: ${colors[p]}">${custom_goals[one].goal_name}</p>
                        % if kpi_linked_goals.get(one):
                            % for kpi in kpi_linked_goals.get(one):
                            <div style="margin-left: 2%;">
                                <p style="color: ${colors[p]}">${custom_kpi.get(kpi).name}</p>
                            </div>
                            % endfor
                        % endif
                    </div>
                    % endfor
                % else:
                <div style="margin-left: 2%;">Цели не заданы.</div>
                % endif
            % endfor

            </div>
            <hr>
            <h3>Показатели</h3>
            <div style="margin-left: 2%;">
            % if custom_kpi.keys():
                % for one in custom_kpi.keys():
                    <p>${custom_kpi[one].name}</p>
                % endfor

            % else:
                <p>Показатели не заданы.</p>
            % endif
            </div>
            <hr>
            <h3>Мероприятия</h3>
            <div style="margin-left: 2%;">
            % if events.keys():
                % for one in events.keys():
                    <p>${events[one].name}</p>
                % endfor
            % else:
                <p>Мероприятий нет.</p>
            % endif
            </div>
            <hr>
            <h3>Операционные показатели</h3>
            <div style="margin-left: 2%;">
            % if metrics.keys():
                % for one in metrics.keys():
                    <p>${metrics[one].name}</p>
                % endfor
            % else:
                <p>Не заданы.</p>
            % endif
            </div>
            <!--
            <hr>
            <a class="btn btn-default" href="/wizardfordepartment/step2" role="button">Добавить цель</a>
            <a class="btn btn-default" href="/wizardfordepartment/step2" role="button">Добавить показатель</a>
            <a class="btn btn-default" href="/wizardfordepartment/step2" role="button">Добавить мероприятие</a>
            -->
            <hr>
            <a class="btn btn-default" href="/wizardfordepartment/step${step_desc['next_step']}" role="button">
                Следующий шаг
            </a>
        </div>
    </div>



</div>

