<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

<%block name="menu">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
          <li class="disabled">
              <a href="/wizardfordepartment">
                  Мастер для подразделения
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/start?code=${current_map.code}">
                  Шаг 1. Начало
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/step2">
                  Шаг 2. Добавить цели
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/step3">
                  Шаг 3. Добавить цели из библиотеки
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/step4">
                  Шаг 4. Добавить связанные цели
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/step5">
                  Шаг 5. Добавить показатели
              </a>
          </li>
          <li class="active">
              <a href="/wizardfordepartment/step6">
                  Шаг 6. Добавить мероприятия
              </a>
          </li>
          <li>
              <a href="/wizardfordepartment/step7">
                  Шаг 7. Завершение
              </a>
          </li>
          <li class="separator divider">
              <hr>
          </li>
          <li>
              <a href="/events/new">
                  Создать новое мероприятие
              </a>
          </li>
          <li class="separator divider">
              <hr>
          </li>
          <li>
              <a href="/wizardfordepartment/step${step_desc['next_step']}">
                  Следующий шаг
              </a>
          </li>
          <li>
              <a href="/back">
                  Назад
              </a>
          </li>
      </ul>
    </div>
</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1>${step_desc['name']}</h1>
            <h3>Описание</h3>
            <br>
            <div style="margin-left: 3%;">
                ${step_desc['full_description']}
            </div>
            <br>
            <h3>
                ${step_desc['subheader']}
                <small></small>
            </h3>
            <div style="margin-left: 3%;">
            % for p in range(0, len(grouped_goals)):
                <h4 style="color: ${colors[p]}">${perspectives[p]}</h4>
                % if grouped_goals[p]:
                <div style="margin-left: 2%;">
                    % for one in grouped_goals[p]:
                    <p style="color: ${colors[p]}">
                        ${map_custom_goals.get(one).goal_name}
                    </p>
                    <div style="margin-left: 2%;">
                        % if grouped_events.get(one):
                        % for event in grouped_events.get(one):
                        <p>
                            ${map_custom_events[event].name}
                            <a role="button" class="btn btn-xs btn-warning"  href="/events/edit?event_code=${event}">
                                Редактировать
                            </a>
                            <a role="button" class="btn btn-xs btn-danger" href="/events/delete?event_code=${event}">
                                Удалить
                            </a>
                        </p>
                        % endfor
                        % else:
                        <p>Нет мероприятий.</p>
                        % endif
                    </div>
                    % endfor
                </div>
                % endif
            %endfor

            </div>
            <br>
            <a class="btn btn-default btn-block" href="/wizardfordepartment/step${step_desc['next_step']}" role="button">Дальше</a>
        </div>
    </div>


</div>

