<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
            <h1>${step_desc['name']}</h1>
            <h3>Описание</h3>
            <div style="margin-left: 2%;">
                ${step_desc['full_description']}
            </div>
            <hr>
            <h3>Цели</h3>
            <div style="margin-left: 2%;">
            % if custom_goals.keys():
                % for one in custom_goals.keys():
                    <p class=
                        % if custom_goals[one].perspective == 0:
                        "text-success"
                        % elif custom_goals[one].perspective == 1:
                        "text-danger"
                        %else:
                        "text-default"
                        %endif
                        ">
                        ${custom_goals[one].goal_name}
                        %if custom_goals[one].type == 1:
                            <a href="/wizardfordepartment/step1remove?code=${custom_goals[one].code}"
                               type="button" class="btn btn-warning btn-xs">Убрать из карты</a>
                        % elif custom_goals[one].type == 0:
                            <a href="/wizardfordepartment/step1remove?code=${custom_goals[one].code}"
                               type="button" class="btn btn-warning btn-xs">Убрать из карты</a>
                        % endif

                    </p>
                % endfor
            % else:
                <p>Цели не заданы.</p>
            % endif
            </div>
            <hr>
            <h3>Показатели</h3>
            <div style="margin-left: 2%;">
            % if custom_kpi.keys():
                % for one in custom_kpi.keys():
                    <p>${custom_kpi[one].name}</p>
                % endfor

            % else:
                <p>Показатели не заданы.</p>
            % endif
            </div>
            <hr>
            <h3>Мероприятия</h3>
            <div style="margin-left: 2%;">
            % if events.keys():
                % for one in events.keys():
                    <p>${events[one].name}</p>
                % endfor
            % else:
                <p>Мероприятий нет.</p>
            % endif
            </div>
            <hr>
            <h3>Операционные показатели</h3>
            <div style="margin-left: 2%;">
            % if metrics.keys():
                % for one in metrics.keys():
                    <p>${metrics[one].name}</p>
                % endfor
            % else:
                <p>Не заданы.</p>
            % endif
            </div>
            <hr>
            <a class="btn btn-default" href="/wizardfordepartment/step2" role="button">Добавить цель</a>
            <a class="btn btn-default" href="/wizardfordepartment/step2" role="button">Добавить показатель</a>
            <a class="btn btn-default" href="/wizardfordepartment/step2" role="button">Добавить мероприятие</a>
            <hr>
            <a class="btn btn-default" href="/wizardfordepartment/step${step_desc['next_step']}" role="button">Дальше</a>
        </div>
    </div>



</div>

