<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
            <h1>${step_desc['name']}</h1>
            <h3>Описание</h3>
            ${step_desc['full_description']}
            <hr>
            <h3>Цели компании</h3>
            <form method="post" action="/wizardfordepartment/step2save">
            <table class="table table-condensed table-hover">
                <tbody>
                % for i in ent_goals.keys():
                    <tr>
                        <td width="5%" align="center">
                            % if i in cur_map_goals.keys():
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=${ent_goals[i].code} name="ent_goals" checked readonly>
                                </label>
                            </div>
                            %else:
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value=${ent_goals[i].code} name="ent_goals">
                                </label>
                            </div>
                            % endif
                        </td>
                        <td>
                            <h4>
                                ${ent_goals[i].goal_name}
                                <small></small>
                            </h4>
                            <p>${ent_goals[i].description}</p>
                        </td>
                    </tr>
                % endfor
                </tbody>
            </table>
                <hr>
                <button type="submit" class="btn btn-default">Добавить выделенные в карту подразделения</button>
            </form>

            <h3>Цели подразделения</h3>
            % if cur_map_goals.keys():
                % for one in cur_map_goals.keys():
                    <p>${cur_map_goals[one].goal_name}</p>
                % endfor

            % else:
                <p>Цели не заданы.</p>
            % endif
            <hr>
            <a class="btn btn-default" href="/wizardfordepartment/step2stage1" role="button">Создать новую цель</a>
            <hr>
            <a class="btn btn-default" href="/wizardfordepartment/step${step_desc['next_step']}" role="button">Дальше</a>
        </div>
    </div>


</div>

