<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
            <h1>${step_desc['name']}</h1>
            <h3>Цели из библиотеки</h3>
            ${step_desc['full_description']}
            <form method="post" action="/wizardfordepartment/step3save" id="add_lib_goals">
            <table class="table">
                <tbody>
            % for g in lib_goals.values():
                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                % if g.code in map_custom_goals.keys():
                                    <input type="checkbox" value="" name="picked_lib_goals" checked readonly>
                                % else:
                                    <input type="checkbox" value="${g.code}" name="picked_lib_goals">
                                % endif
                            </label>
                        </div>
                    </td>
                    <td>
                        <p class="lead">${g.goal_name}</p>
                        <p>${g.description}</p>
                    </td>
                </tr>
            % endfor
                </tbody>
            </table>

            <h3>Цели созданные самостоятельно</h3>
            <table class="table">
                <tbody>
            % for g in all_custom_goals.values():
                % if g.type == 1:
                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                % if g.code in map_custom_goals.keys():
                                    <input type="checkbox" value="" name="picked_custom_goals" checked readonly>
                                % else:
                                    <input type="checkbox" value="${g.code}" name="picked_custom_goals">
                                % endif
                            </label>
                        </div>
                    </td>
                    <td>
                        <p class="lead">${g.goal_name}</p>
                        <p>${g.description}</p>
                    </td>
                </tr>
                % endif
            % endfor
                </tbody>
            </table>
                <button type="submit" class="btn btn-default">Сохранить</button>
            </form>
            <hr>
            <a class="btn btn-default" href="/wizardfordepartment/${step_desc['next_step']}" role="button">Следующий шаг</a>
        </div>
    </div>


</div>

