<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
            <h1>${step_desc['name']}</h1>

            <h3>${step_desc['subheader']}</h3>
            ${step_desc['full_description']}

                   <table class="table table-condensed table-hover">
                   <caption></caption>
                       <thead>
                       <tr>
                           <th></th>
                           <th><small>Показатель</small></th>
                           <th><small>Ответственный</small></th>
                           <th><small>Ед. изм.</small></th>
                           <th><small>Периодичность</small></th>
                           <th><small>Шкала</small></th>
                           <th><small>Целевое значение1</small></th>
                           <th><small>Целевое значение2</small></th>
                           <th></th>
                       </tr>
                       </thead>
                       <tbody>
                       % for goal in custom_kpi_links.keys():
                           % for kpi in custom_kpi_links[goal]:
                                % if picked_kpi == kpi:
                                   <tr class="success">
                                       <form class="form-inline" method="post" action="/wizard/step5save"
                                             id="kpi_target_values">
                                       <th scope="row">${custom_goals.get(goal).goal_name}</th>
                                       <td>
                                           ${custom_kpi.get(kpi).name}
                                           <input type="hidden" value="${kpi}" name="picked_kpi">
                                       </td>
                                       <td>
                                           <div class="form-group">
                                               <select  name="target_responsible">
                                               % for p in persons.keys():
                                               % if p == custom_kpi.get(kpi).target_responsible:
                                                   <option value="${custom_kpi.get(kpi).target_responsible}" selected>
                                                       ${persons[custom_kpi.get(kpi).target_responsible]}
                                                   </option>
                                               %else:
                                                   <option value="${p}">
                                                       ${persons[p]}
                                                   </option>
                                               % endif
                                               % endfor
                                               </select>
                                           </div>
                                       </td>
                                       <td>
                                           <div class="form-group">
                                               <select  name="measure">
                                               % for p in measures.keys():
                                               % if p == custom_kpi.get(kpi).measure:
                                                   <option value="${custom_kpi.get(kpi).measure}" selected>
                                                       ${measures[custom_kpi.get(kpi).measure]}
                                                   </option>
                                               %else:
                                                   <option value="${p}">
                                                       ${measures[p]}
                                                   </option>
                                               % endif
                                               % endfor
                                               </select>
                                           </div>
                                       </td>
                                       <td>
                                           <div class="form-group">
                                               <select  name="cycle">
                                               % for p in cycles.keys():
                                               % if p == custom_kpi.get(kpi).cycle:
                                                   <option value="${custom_kpi.get(kpi).cycle}" selected>
                                                       ${cycles[custom_kpi.get(kpi).cycle]}
                                                   </option>
                                               %else:
                                                   <option value="${p}">
                                                       ${cycles[p]}
                                                   </option>
                                               % endif
                                               % endfor
                                               </select>
                                           </div>
                                       </td>
                                       % if kpi_target_values.get(kpi):
                                       <td>
                                           <div class="form-group">
                                               <select  name="kpi_scale_type">
                                               % for p in kpi_scale.keys():
                                               % if p == kpi_target_values.get(kpi).kpi_scale_type:
                                                   <option value="${p}" selected>
                                                       ${kpi_scale[p]}
                                                   </option>
                                               %else:
                                                   <option value="${p}">
                                                       ${kpi_scale[p]}
                                                   </option>
                                               % endif
                                               % endfor
                                               </select>
                                           </div>
                                       </td>
                                       <td>
                                           <div class="form-group">
                                               <input type="number" class="form-control" name="first_value"
                                                      value="${kpi_target_values.get(kpi).first_value}">
                                           </div>
                                       </td>
                                       <td>
                                           <div class="form-group">
                                               <input type="number" class="form-control" name="second_value"
                                                      value="${kpi_target_values.get(kpi).second_value}">
                                           </div>
                                       </td>
                                       % else:
                                       <td>
                                           <div class="form-group">
                                               <select  name="kpi_scale_type">
                                               % for p in kpi_scale.keys():
                                                   <option value="${p}">
                                                       ${kpi_scale[p]}
                                                   </option>
                                               % endfor
                                               </select>
                                           </div>
                                       </td>
                                       <td>
                                           <div class="form-group">
                                               <input type="number" class="form-control" name="first_value" value="">
                                           </div>
                                       </td>
                                       <td>
                                           <div class="form-group">
                                               <input type="number" class="form-control" name="second_value" value="">
                                           </div>
                                       </td>
                                       % endif
                                       <td><button type="submit" class="btn btn-default btn-xs">Сохранить</button></td>
                                       </form>
                                   </tr>
                                %else:
                                   <tr>
                                       <th scope="row">${custom_goals.get(goal).goal_name}</th>
                                       <td>${custom_kpi.get(kpi).name}</td>
                                       <td>${persons[custom_kpi.get(kpi).target_responsible]}</td>
                                       <td>${measures[custom_kpi.get(kpi).measure]}</td>
                                       <td>${cycles[custom_kpi.get(kpi).cycle]}</td>
                                       % if kpi_target_values.get(kpi):
                                       <td>${kpi_target_values.get(kpi).kpi_scale_type}</td>
                                       <td>${kpi_target_values.get(kpi).first_value}</td>
                                       <td>${kpi_target_values.get(kpi).second_value}</td>
                                       % else:
                                       <td>-</td>
                                       <td>-</td>
                                       <td>-</td>
                                       % endif
                                       <td></td>
                                   </tr>
                                % endif
                           % endfor
                       % endfor

                       </tbody>
                   </table>
            </form>
            <hr>
            <a class="btn btn-default" href="/wizard/step${step_desc['next_step']}" role="button">Следующий шаг</a>
        </div>
    </div>


</div>

