<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
            <h1>${step_desc['name']}</h1>
            <h3>Выбранные цели:</h3>
            % for one in picked_goals:
            <blockquote>${lib_goals[one].goal_name}</blockquote>
            % endfor

            <h3>${step_desc['subheader']}</h3>
            ${step_desc['stage2_description']}

            <form method="post" action="/wizard/step3stage3" id="picked_goals">
                % for one in picked_goals:
                %if one in lib_linked_goals.keys() and list(set(lib_linked_goals[one])-set(picked_goals)):
                   <table class="table">
                       <tbody>

                            % for new in list(set(lib_linked_goals[one])-set(picked_goals)):
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="${lib_goals[new].code}"
                                                       name="picked_goals">
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <h4>
                                            ${lib_goals[new].goal_name}
                                            <small> (связана с целью "${lib_goals[one].goal_name}")</small>
                                        </h4>
                                        <p>${lib_goals[new].description}</p>

                                    </td>
                                </tr>
                            % endfor
                       </tbody>
                   </table>
                % endif
                % endfor
                % for one in picked_goals:
                    <input type="hidden" name="picked_goals" value="${one}">
                % endfor
                <button type="submit" class="btn btn-default">Дальше</button>
            </form>
            <hr>
            <a class="btn btn-default" href="/wizard/step${step_desc['next_step']}" role="button">Следующий шаг</a>
        </div>
    </div>


</div>

