<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/static/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>

</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1>${step_desc['name']}</h1>
            <h3>Описание</h3>
            <div style="margin-left: 3%;">
                ${step_desc['full_description']}
            </div>
            <hr>
            <form action="/wizardfordepartment/step2save" method="post">
                <div class="form-group">
                    <label for="kpi_name">Название показателя</label>
                    <input type="text" name="name" id="kpi_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="kpi_desc" class="control-label">Описание</label>
                    <textarea rows="5" name="description" id="kpi_desc" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label for="goal">Цель</label>
                    <select name="goal" id="goal" class="form-control">
                        % for one in ent_goals.keys():
                            <option value="${one}">${ent_goals[one].goal_name}</option>
                        % endfor
                    </select>
                </div>
                <div class="form-group">
                    <label for="goal1">Свободная цель</label>
                    <select name="goal1" id="goal1" class="form-control">
                        % for one in aval_goals.keys():
                            <option value="${one}">${aval_goals[one].goal_name}</option>
                        % endfor
                    </select>
                </div>

                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
            </form>
        </div>
    </div>


</div>

