<%inherit file="page_structure.html"/>

<%block name="title">
    <title>Главная</title>
    <link href="/static/css/dashboard.css" rel="stylesheet">

</%block>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6">
            <h1>${step_desc['name']}</h1>
            <ul>
                <li>Вывести подробное описание шага: ${step_desc['full_description']}</li>
                <li>Проверить заданы ли сроки для этого шага?</li>
                <li>?</li>
            </ul>
            <a class="btn btn-default" href="/wizard/step${step_desc['next_step']}" role="button">Дальше</a>
        </div>
    </div>


</div>

